.cartItems{
    margin: 100px 170px;
}
.cartItems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartItems_format_main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartItems_format{
    font-size: 17px;
    font-weight: 500;
}
.product_icon{
    height: 62px;
}
.cartItems_remove_icon{
    width: 15px;
    margin: 0 50px;
    cursor: pointer;
}
.cartItems_quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: white;
}
.cartItems_down{
    display: flex;
    margin: 100px 0;
}
.cartItems_total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartItems_total_item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.cartItems_total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartItems_promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartItems_promocode p{
    color: #555;
}
.cartItems_promobx{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}
.cartItems_promobx input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cartItems_promobx button{
    width: 153px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}
@media(max-width: 1280px){
    .cartItems{
        margin: 60px 50px;
    }
    .cartItems_format_main{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0;
        font-size: 15px;
    }
    .product_icon{
        height: 50px;
    }
    .cartItems_remove_icon{
        margin: auto;
    }
    .cartItems_quantity{
        width: 40px;
        height: 30px;
    }
    .cartItems_down{
        margin: 80px 0;
        flex-direction: column;
        gap: 80px;
    }
    .cartItems_total{
        margin: 0;
    }
    .cartItems_total button{
        min-width: 200px;
        height: 45px;
        font-size: 13px;
    }
    .cartItems_promobx{
        width: auto;
        min-width: 500px;
    }
    .cartItems_promobx input{
        width: 100%;
    }
    .cartItems_promobx button{
        width: 120px;
        margin-left: -125px;
    }
}
@media(max-width: 500px){
    .cartItems_format_main{
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 20px;
    }
    .cartItems_format{
        display: grid;
    }
}