.newCollections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: auto;
    margin-top: 30px;
}

.head {
    color: #171717;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
}

.hr {
    width: 300px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin: 0 auto;
}

.collections {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    padding: 20px;
    justify-content: center;
    /* display: flex;
    align-items: center;
    margin-top: 50px; */
    flex-wrap: wrap;
    gap: 20px;
}

/* media query */

@media(max-width:1280px) {
    .newCollections {
        height: 70vh;
    }

    .head {
        font-size: 40px;
    }

    .hr {
        display: none;
    }

    .collections {
        gap: 20px;
        margin-top: 30px;
    }
}

@media(max-width:1280px) {
    .newCollectionss {
        height: 60vh;
    }

    .head {
        font-size: 30px;
    }

    .newCollectionss hr {
        display: none;
    }

    .collections {
        gap: 15px;
        margin-top: 20px;
    }
}

@media(max-width:800px) {
    .newCollectionss {
        height: 50vh;
    }

    .head {
        font-size: 20px;
    }

    .newCollections hr {
        display: none;
    }

    .collections {
        gap: 5px;
    }
}

@media(max-width:500px) {
    .newCollections {
        height: 90vh;
        margin-top: -20px;
    }

    .collections {
        padding: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}