.product_display{
    display: flex;
    margin: 0 170px;
}
.product_dispay_left{
    display: flex;
    gap: 17px;
}
.product_display_images{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product_display_images img{
    height: 163px;
}
.productDisplay_main_img{
    width: 580px;
    height: 700px;
}
.product_dispay_right{
    margin: 0 70px;
    display: flex;
    flex-direction: column;
}
.product_dispay_right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
    
}
.productdisplay_right_stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productDisplay_prices{
    display: flex;
    margin: 40px 0;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.product_dispay_old_prices{
    color: #818181;
    text-decoration: line-through ;
}
.product_dispay_new_prices{
    color: #ff4141;
}
.productDisplay_size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.sizes{
    display: flex;
    margin: 30px 0;
    gap: 20px;
}
.sizes div{
    padding: 18px 24px;
    background: #fdfdfd;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.product_dispay_right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.prductDisplay_right_category{
    margin-top: 10px;
}
.prductDisplay_right_category span{
    font-weight: 600;
}
@media(max-width: 1280px){
    .product_display{
        margin: 0 60px;
    }
    .product_dispay_left{
        gap: 10px;
    }
    .product_display_images{
        gap: 10px;
    }
    .product_display_images img{
        height: 120px;
    }
    .productDisplay_main_img{
        width: auto;
        height: 510px;
    }
    .product_dispay_right{
        margin: 0 30px;
    }
    .product_dispay_right h1{
        font-size: 22px;
    }
    .productdisplay_right_stars{
        gap: 3px;
        font-size: 13px;
    }
    .productDisplay_prices{
        margin: 10px 0;
        font-size: 18px;
    }
    .productDisplay_description{
        font-size: 13px;
    }
    .productDisplay_size h1{
        font-size: 20px;
        margin-top: 20px;
    }
    .product_dispay_right button{
        width: 150px;
        padding: 15px 0;
        margin-bottom: 20px;
    }
    .prductDisplay_right_category{
        margin-top: 5px;
        font-size: 14px;
    }
}
@media(max-width: 1024px){
    .product_display{
        margin: 0 30px;
    }
    .product_dispay_left{
        gap: 5px;
    }
    
    .product_display_images img{
        height: 80px;
    }
    .productDisplay_main_img{
        height: 350px;
    }
    .product_dispay_right h1{
        font-size: 18px;
    }
    .productdisplay_right_stars img{
        width: 15px;
    }
    .productDisplay_description{
        font-size: 12px;
    }
    .productDisplay_size h1{
        font-size: 20px;
        margin-top: 20px;
    }
    .productDisplay_size .sizes{
        margin: 10px 0;
    }
    .productDisplay_size .sizes div{
        padding: 10px 16px;
        font-size: 12px;
    }
    .product_dispay_right button{
        width: 120px;
        padding: 10px 0;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .prductDisplay_right_category{
    
        font-size: 12px;
    }
}
@media(max-width: 800px){
    .product_display{
        margin: 0 10px;
    }
    .product_dispay_left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .product_display_images{
        flex-direction: row;
        gap: 6px;
    }
    .product_display_images img{
        height: 70px;
    }
    .productDisplay_main_img{
        height: 300px;
    }
    .product_dispay_right h1{
        font-size: 14px;
    }
    .productdisplay_right_stars img{
        width: 13px;
    }
    .productDisplay_description{
        font-size: 10px;
    }
    .productDisplay_size h1{
        font-size: 16px;
        margin-top: 10px;
    }
    .productDisplay_size .sizes{
        margin-top: 10px;
        gap: 5px;
    }
    .productDisplay_size .sizes div{
        padding: 4px 11px;
    }
    .product_dispay_right button{
        width: 100px;
        font-size: 12px;
    }
    .prductDisplay_right_category{
        font-size: 10px;
    }
}
@media (max-width: 500px){
    .product_display{
        flex-direction: column;
    }
    .product_dispay_left{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .product_display_images{
        flex-direction: column;
        gap: 8px;
    }
    .product_display_images img{
        height: 75px;
    }
    .productDisplay_main_img{
        height: 330px;
    }
    .product_dispay_right{
        margin: 5px;
    }
    .product_dispay_right h1{
        margin-top: 15px;
        font-size: 20px;
    }
    .productdisplay_right_stars img{
        width: 15px;
    }
    .productDisplay_size .sizes{
        gap: 10px;
        margin: 20px 0;
    }
    .sizes div{
        padding: 10px 16px;
        font-size: 14px;
    }
    .product_dispay_right button{
        width: 130px;
        font-size: 15px;
        padding: 12px 0;
    }
    .prductDisplay_right_category{
        font-size: 16px;
    }
}